<% provide(:title, 'Home') %>
<div class="tab-content">
  <% if signed_in? %>
  <div class="alert alert-block">
  
  <h4>Important Messages</h4>
  <% if @past_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @past_items %>
  </ol>
  
<% end %>
</div>
<h1>November <%= Date.today.year %></h1> 
<table class="table table-striped">
    <thead>
    <tr>
      <th>Card Type</th>
      <th>Last 4 Digits</th>
      <th>Bill Due</th>
      <th>Amount Owed</th>
      <th>Pay Now</th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: 'shared/paytable_item', collection: @past_items %>
    </tbody>

    </table>
  
  <% else %>
  <div class="row">
    <div class="alert alert-success">
    <h1>Welcome to Bill Pay Center!</h1>
  </div>
  <div class="span5">
    
    <br />
    <h2> Returning? </h2>
    <br />
    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      <div>
      <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
    </div>
    <% end %>
</div>

<div class="span6">
  <div class="hero-unit">
    <h2> New User? </h2><p>Bill Pay Center is an easy way to deal with your credit card payments in one place. It's free, too! Give it a try.</p>
    <%= link_to '<button type="submit" class="btn btn-large btn-primary">Sign up now!</button>'.html_safe, signup_path %>
     </div>
    </div>
</div>
<% end %>
</div>
 

  