<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @alert.type %>
</p>

<p>
  <b>Contact:</b>
  <%= @alert.contact %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
