<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :bankname %><br />
    <%= f.text_field :bankname %>
  </div>
  <div class="field">
    <%= f.label :routing %><br />
    <%= f.text_field :routing %>
  </div>
  <div class="field">
    <%= f.label :checking %><br />
    <%= f.text_field :checking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
