<p id="notice"><%= notice %></p>

<p>
  <b>Alerttype:</b>
  <%= @blert.alerttype %>
</p>

<p>
  <b>Contact:</b>
  <%= @blert.contact %>
</p>


<%= link_to 'Edit', edit_blert_path(@blert) %> |
<%= link_to 'Back', blerts_path %>
