<header>
<header class="top">
<div id="HeaderWrapper">
  <div class="container" id="topheader">
      <%= link_to "Bill Pay Center", root_path, id: "logo" %>
      
        <ul id="navlist">
          <% if signed_in? %>
            <li><%= "Welcome back, #{current_user.name}" %></li> /
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
      <% if signed_in? %>
      <div class="container">
        <ul class="nav nav-tabs" id="titles">
        <li class="<%= "active" if params[:action] == "home" %>">
          <%= link_to '<i class="icon-home"></i> Home'.html_safe, root_path %></li>
        <li class="<%= "active" if params[:action] == "history" %>">
          <%= link_to '<i class="icon-folder-open"></i>  Bill History'.html_safe, history_path %></li>
        <li class="<%= "active" if params[:controller] == "alerts" %>">
          <%= link_to '<i class="icon-calendar"></i> Alerts'.html_safe, alerts_path %></li>
        <li class="<%= "active" if params[:controller] == "shows" && params[:action] == "past" %>">
          <%= link_to '<i class="icon-align-left"></i> Manage Accounts'.html_safe, manageaccounts_path %></li>
        <li class="<%= "active" if params[:controller] == "users" && params[:action] == "edit" %>">
          <%= link_to '<i class="icon-cog"></i> Settings'.html_safe, edit_user_path(current_user) %></li>
      </ul>
    </div>
    <% else %>
    <% end %>
  </div>
</header>
</header>