<header>
<header class="top">
<div id="HeaderWrapper">
  <div class="container" id="topheader">
      <%= link_to "Bill Pay Center", root_path, id: "logo" %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
        <ul id="navlist">
          <% if signed_in? %>
            <li><%= link_to "Welcome #{current_user.name}", current_user %></li> /
            <li> <%= link_to "Add Show", newshow_path %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
      <% if signed_in? %>
      <div class="container">
        <ul class="nav nav-tabs" id="titles">
        <li class="<%= "active" if params[:action] == "home" %>"><%= link_to "Home ", root_path %></li>
        <li class="<%= "active" if params[:action] == "static_pages" %>"><%= link_to "Bill History", root_path %></li>
        <li class="<%= "active" if params[:action] == "shows" %>"><%= link_to "Alerts", past_path %></li>
        <li class="<%= "active" if params[:action] == "static_pages" %>"><%= link_to "Manage Accounts", past_path %></li>
        <li class="<%= "active" if params[:controller] == "users" %>"><%= link_to "Settings", edit_user_path(current_user) %></li>
      </ul>
    </div>
    <% else %>
    <% end %>
  </div>
</header>
</header>